<div class="container">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-3">
        <button
        class="btn btn-primary"
        (click)="ToggleTitle()">
          Add Elements
        </button>
        <button
        class="btn btn-primary"
        [disabled]="ClearButtonIsEnabled"
        (click)="ClearLog()">
          Clear Elements
        </button>
      </div>
    </div>
    <p *ngIf="PIsEnabled; else HiddenArea"> I Am here too.</p>
    <ng-template #HiddenArea>

      <div
        style="background: red;"
        class="col-sm-3"
        *ngFor="let log of logs">

        <div class="col-sm-6">{{log}}</div>
        <div class="col-sm-6">{{log}}</div>

      </div>

    </ng-template>
  </div>
</div>
